*.t
ant.txt

Frutas/
Atividades/
Cybersec/

Site-automotivo/bibliografia.txt
Site-automotivo/CarrosPG/imgPGs/MGT_linhas.jpg
Site-automotivo/CarrosPG/imgPGs/LaVoitureNoire-front3por4_linhas.jpg
Site-automotivo/CarrosPG/imgPGs/LaVoitureNoire-front3por4_linhas - sem sombra.png