* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*list-style: none;*/ /* tira as bolinhas de item nas listas */
}

header{
    background-image: url(img/fundo-de-onda-de-particula-gradiente_23-2150521671.avif);
}
header img{
    width: 300px;
    height: auto;
    margin: 10px;
}
/*header nav{
    background-color: hsla(245, 63%, 16%, 0.647);
}*/
header nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
body{
    /*background-image: url(img/rede_bottom.jpg);*/
    background-image: linear-gradient(to bottom right, black 55%, #380fa8);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    color: rgb(21, 102, 195);
}
footer{
    background-color: hsla(246, 87%, 15%, 0.599);
    height: 200px;
}
#link{
    color: hsl(230, 87%, 48%);
    text-decoration: none;
    font-weight: 900;
}
#link_ctt{
    color: hsl(230, 87%, 48%);
    text-decoration: none;
    font-weight: 900;
    font-style: italic;
}
#Ftr_ind{
    margin-top: 20px;
    margin-left: 10px;
}
#pesq{
    color: hsl(246, 82%, 28%);
}
#img_centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: rgb(7, 152, 192);
    font-weight: bolder;
}
span{
    font-style: italic;
}
section{
    margin-left: 20px;
}
.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
      "img1 text12 text12"
      "text1 text2 text2"; 
  }
  .img1 { grid-area: img1; }
  .text1 {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "img_1 img_2 img_3"
      "img_4 img_5 img_6"
      "img_7 img_8 img_9"; 
    grid-area: text1; 
  }
  .img_1 { grid-area: img_1; }
  .img_2 { grid-area: img_2; }
  .img_3 { grid-area: img_3; }
  .img_4 { grid-area: img_4; }
  .img_5 { grid-area: img_5; }
  .img_6 { grid-area: img_6; }
  .img_7 { grid-area: img_7; }
  .img_8 { grid-area: img_8; }
  .img_9 { grid-area: img_9; }
  .text2 { grid-area: text2; }
  .text12 { grid-area: text12; }