header{
    background-color: hsl(245, 96%, 9%);
}
nav{
    background-color: hsla(245, 96%, 9%);
}
section{
    background-color: rgba(12, 55, 154, 0.605);
}
footer{
    background-color: hsla(245, 96%, 9%);;
}