@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.scroll_list {
    width: 600px;
    height: 500px;
    overflow-y: auto;
    padding: 5px;
    background: #0f0f0f;
    border-radius: 10px;
    box-shadow: 0 10px 40 px rgba(0, 0, 0, 0.5);
    scroll-behavior: smooth;
}

.item {
    height: 140px;
    margin: 10px 0;
    border-radius: 12px;
    background: linear-gradient(145deg, #c1c1c1, #f1f1f1);
    box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.4),
                inset 0 -1px 6px rgba(0, 0, 0, 0.2),
                0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    transform: scale(0.9);
    /*opacity: 0.6;*/
}


/* fonte do carrossel => https://codepen.io/una/pen/myJOjQx?editors=1100 */

:root {
  --body-padding: 2rem;
  --card-width: 300px;
}

#buildersCarrossel {
  overflow-x: hidden;
  position: relative;
}

.carousel {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  anchor-name: --trip-carousel;
  counter-reset: day;

  scrollbar-width: none;
  scroll-behavior: smooth;
  
   /* prev/next buttons */
   &::scroll-button(left) {
    content: "arrow_back_ios" / "Scroll Left";
    position-area: left;
    padding-left: 0.75rem;
    transform: translateX(calc(2 * var(--body-padding)));
  }

  &::scroll-button(right) {
    content: "arrow_forward_ios" / "Scroll Right";
    position-area: right;
    transform: translateX(calc(-2 * var(--body-padding)));
  }
  
  &::scroll-button(*) {
    opacity: 0.5;
    position: absolute;
    top: 25%;
    position-anchor: --trip-carousel;
    z-index: 1;
    font-size: 1.5rem;
    font-family: "Material Symbols Outlined";
    font-variation-settings: "wght" 100;
    display: grid;
    place-items: center;
    width: 3rem;
    color: white;
    aspect-ratio: 1 / 1;
    border: 2px solid dimgray;
    background: white;
    border-radius: 100%;
    cursor: pointer;
    transition: font-variation-settings 0.25s ease, scale 0.25s ease;
    background: #333;
  }
  
  &::scroll-button(*):disabled {
    border: 2px solid blackgray;
    color: gray;
  }
  
  &::scroll-button(*):not(:disabled):hover {
    font-variation-settings: "wght" 400;
    scale: 1.05;
    opacity: 1;
  }

  &::scroll-button(*):focus-visible {
    outline-offset: 5px;
  }
  
  /*  scroll markers de 1  a 11 abaixo das fotos  */
  scroll-marker-group: after;
  
  &::scroll-marker-group {
    position: fixed;
    position-anchor: --trip-carousel;
    position-area: bottom;
    margin-top: 2rem;
    display: flex;
    gap: 0.25rem;
  }

  .scroll-marker {
    aspect-ratio: 1 / 1;
    width: 1rem;
    background: #0f253d;
    padding: 0.2rem;
    font-size: 0.8rem;
    color: rgb(209, 209, 209);
    border-radius: 100%;
    display: grid;
    place-content: center;
    cursor: pointer;
    position: absolute;
    top: -2rem; /* ajustar conforme posição desejada */
    left: 50%;
    transform: translateX(-50%);
  }
  
  li::scroll-marker { /* revisar o uso */
    display: none;
    content: counter(day-num);
    aspect-ratio: 1 / 1;
    width: 1rem;
    background: #0f253d;
    padding: 0.2rem;
    font-size: 0.8rem;
    color: rgb(209, 209, 209);
    border-radius: 100%;
    cursor: pointer;
    display: grid;
    place-content: center;
    text-decoration: none;
    transition: transform 0.2s ease;
  }
  
  li::scroll-marker:target-current {
    anchor-name: --active-target;
    transform: translateY(-0.5rem);
    color: #00b7ff;
    text-shadow:
        0 0 15px #0f46fc,
        0 0 20px #0f46fc,
        0 0 30px #0f46fc;
  }
  
  /*  Afasta um pouco o primeiro e último item do carrossel/lista da margem */
  li:first-child {
    margin-left: 1rem;
  }
  li:last-child {
    margin-right: 1rem;
  }
}

.day-card {
  width: var(--card-width);
  position: relative;
  overflow: hidden;
  counter-increment: day-num;
  scroll-snap-align: center;
  container-type: scroll-state;
  
  img {
    aspect-ratio: 4/5;
    object-fit: cover;
    object-position: bottom;
  }
  
  &:hover,
  &:focus {
    .meta {
      transform: translateY(0);
      cursor: default;
      /*background: #29313acb; */
    }
  }
  
  .meta {
    position: absolute;
    bottom: 0;
    width: calc(100% - 2rem);
    transform: translateY(calc(100% - 3rem));
    background: #29313a;
    color: white;
    padding: 1rem;
    transition: transform 0.5s ease;

    & h2, p {
      background: #0f253d00;
    }
  }

  .meta.snap-active {  /* usado pelo JS */
    transform: translateY(0);
  }
  
  .desc_carrossel {
    background-color: inherit;
    line-height: 1.5;
    font-weight: 300;
  }
  
  h2 {
    background-color: inherit;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 0px;
  }
  
  &::before {
    counter-increment: day; /* caso não necessário pra identificar e modificar os cards, excluir */
    font-size: 0.8rem;
    display: block;
    position: absolute;
    display: flex;
    align-items: center;
    height: 1.5rem;
    top: 0.5rem;
    left: 0;
    background: #222;
    color: white;
    padding: 0.5rem;
    border-radius: 0 1.5rem 1.5rem 0;
  }
}

.classe1::before {
  content: "classe 1";
  padding-right: 1rem;
}

.classe2::before {
  content: "classe 2";
  padding-right: 1rem;
}

.classe3::before {
  content: "classe 3";
  padding-right: 1rem;
}

.classe4::before {
  content: "classe 4";
  padding-right: 1rem;
}

.bugatti,
.bmw,
.chevrolet,
.mercedes {
  &::after {
    content: '';
    position: absolute;
    padding: 0.25rem;
    top: 0.5rem;
    right: 0;
    width: 2.5rem;
    height: 2rem;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #222;
    border-radius: 100% 0 0 100%;
    background-size: 2rem;
  }
}

.bugatti::after {
  background-image: url(img/logo_marcas/bugatti_logo.png);
}

.bmw::after {
  background-image: url(img/logo_marcas/bmw_logo.png);
}

.chevrolet::after {
  background-image: url(img/logo_marcas/chevrolet_logo.png);
}

.mercedes::after {
  background-image: url(img/logo_marcas/mercedes_logo.png);
}

img {
  width: 100%;
}

.plane {
  position: fixed;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  position-anchor: --active-target;
  inset: anchor(inside);
  margin-top: anchor-size();
  transition: inset 0.5s linear;
  
  &::after {
    font-size: 1.25rem;
    font-family: "Material Symbols Outlined";
    content: "navigation";
    color: rgb(190, 190, 190);
    text-shadow:
        0 0 5px #fff,
        /*0 0 20px rgb(136, 225, 252),*/
        0 0 30px #0ff;
  }
}
