/* Poppins e League Gothic */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body header nav ul {

    & #navH {
        text-decoration: none;
        color: #fff;
    }

    & #navH:hover{
        color: #beff1b;
    }
}

body {
    background-color: #000;
    color: white;
    font-size: 16px;
    overflow: auto;  /* Remove a barra de rolagem da página */
}

header {
    position: fixed;  /* Fixa o header no topo da página, mesmo com o scroll da pág */
    width: 100%;
    left: 50%;  /* Centraliza o header horizontalmente */
    transform: translateX(-50%);  /* Compensa o deslocamento do header pra ficar exatamente no meio */
    display: grid;
    grid-template-columns: 1fr 600px;
    gap: 100px;
    z-index: 2;  /* Coloca o header acima de outros elementos da página */
    padding-top: 20px;
    background-color: #8600d930;
    backdrop-filter: blur(10px);  /* Adiciona um efeito de desfoque ao fundo do header */
    border-bottom: 1px solid #fff;  /* Adiciona uma borda inferior ao header */

    & img {
        width: 250px;
        padding-left: 70px;
    }

    & nav {
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 200px);  /* Cria 3 colunas automaticamente de 200px */
        }
    }
}

section {
  background-image: radial-gradient(#7f3d9e, #6d00d9);
  height: 100%;
  position: relative;
  padding-bottom: 50px;
}

/* estilização da página 'Carros' */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 2.2fr 0.3fr 2.2fr 0.3fr 2.2fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "txt1 txt2 txt3"
    "img1 img2 img3"
    "txt4 txt5 txt6"
    "img4 img5 img6"
    "txt7 txt8 txt9"
    "img7 img8 img9"
    "txt10 txt11 txt12"
    "img10 img11 img12";
  width: 80%; /* Define a largura do grid */
  height: auto; /* Define a altura do grid para encaixar na página */
  margin: 0 auto; /* Centraliza o grid horizontalmente */
  padding-top: 150px; /* Adiciona espaço para evitar sobreposição com o header */
}

#txt1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: txt1;
}

#txt2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: txt2;
}

#txt3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: txt3;
}

#img1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: img1;

  & .Mustang {
    width: 380px;
    cursor: pointer;
  }
}

#img2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: img2;

  & .LaVoitureNoire {
    width: 380px;
    cursor: pointer;
  }
}

#img3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: img3;

  & .McLaren {
    width: 380px;
    cursor: pointer;
  }
}

#txt4 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: txt4;
}

#txt5 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: txt5;
}

#txt6 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: txt6;
}

#img4 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: img4;

  & .CorvetteStingray {
    width: 380px;
    cursor: pointer;
  }
}

#img5 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: img5;

  & .CamaroZL1 {
    width: 380px;
    cursor: pointer;
  }
}
#img6 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: img6;

  & .BMW-M4 {
    width: 380px;
    cursor: pointer;
  }
}

#txt7 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: txt7;
}

#txt8 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: txt8;
}

#txt9 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: txt9;
}

#img7 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: img7;

  & .Huayra {
    width: 380px;
    cursor: pointer;
  }
}

#img8 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: img8;

  & .LamboUltimae {
    width: 380px;
    cursor: pointer;
  }
}

#img9 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: img9;

  & .JaguarTypeR {
    width: 380px;
    cursor: pointer;
  }
}

#txt10 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: txt10;
}

#txt11 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: txt11;
}

#txt12 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: txt12;
}

#img10 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: img10;

  & .AudiRS7 {
    width: 380px;
    cursor: pointer;
  }
}

#img11 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: img11;

  & .Porsche911 {
    width: 380px;
    cursor: pointer;
  }
}

#img12 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: img12;

  & .ferrariPortofino {
    width: 380px;
    cursor: pointer;
  }
}
